body,
html {
  height: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.8em;
  color: #fafafa;
  background-color: black;
  scroll-behavior: smooth;
}

.pimg1,
.pimg2 {
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*  if i dont want this fixed set it to scroll */
}

/* ---------------------------- NAV BAR -------------------------*/

.pimg1 {
  background-image: url('../images/test_02.jpg');
  min-height: 100%;
  margin-bottom: 0px;
}

.container .navbar {
  position: absolute;
  margin: 15px;
  margin-top: 5px;
  width: auto;
  z-index: 1;

}

.topnav {
  overflow: hidden;
  background-color: transparent;
  background: none;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #399dd0;
  color: black;
}

/* ----------------------------- IMAGES ------------------------*/

.pimg2 {
  background-image: url('../images/logo_02.jpg');
  min-height: 100%;
}

/* ----------------------------- title ------------------------*/

.TITLE {
  text-align: center;
  padding-top: 400px;
}

/* ----------------------------- ABOUT ------------------------*/

.about-row {
  padding-bottom: 10%;
  padding-top: 10%;
  font-size: 20px;
  line-height: 2;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

h2 {
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  padding-top: 2em;
  padding-left: 0.6em;
  padding-bottom: 1.5em;
}

.about-row .about-p {
  font-size: 20px;
  margin: 40px 0px 40px 0px;
  text-align: left;
}


.quotee {
  font-size: 1.5em;
  color: #399dd0;
  font-weight: 700;

}


/* ----------------------------- MEDIA ------------------------*/

@media (min-width: 750px) {
  #about-me {
    background-image: url('../images/paper.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
  }
}

/* ----------------------------- APPLICATIONS ------------------------*/

h3 {
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 3em;
  padding-right: 20px;
  padding-bottom: .5em;
  font-size: 1.5em;
}

.h5 {
  margin-bottom: 1em;
  margin-top: 1em;
}

.bg-body .row {
  text-align: center;
  padding-top: 10px;
}


.bg {
  background-color: #399dd0;
  border-radius: 2.5%;
  width: 18em;
  height: 15em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 4% 7%;
  display: inline-block;
}

.bg:hover {
  opacity: 1;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
}

.bg-body .applications-text {
  font-size: 1.07em;
}

.scroll-applications,
.cards {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

/* --------------------------- WHO WE ARE --------------------*/

.bio-section-header {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 7;
  padding-top: 3em;
  font-size: 2em;

}

.name {
  padding-top: 10px;
}

.recruiting {
  text-align: center;
  font-weight: 700;
  color: #399dd0;
  font-size: 2em;
  line-height: normal;
}

.container img {
  float: none;
  border-radius: 20%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h4 {
  padding: 10px;
  text-align: center;
}

h5 {
  text-align: center;
  padding: 5px;
}

.info-character {
  text-align: center;
  padding: 5px;
}

/* ----------------------Recruiting----------------------*/

.recruiting-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.recruiting-text_01 {
  color: #399dd0;
  font-size: 30px;
  font-weight: 400;
}

.recruiting-text_02 {
  color: #399dd0;
  font-size: 26px;
  font-weight: 400;
}

.pde,
.de {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 400;
}



/* -------------------------- CONTACT FORM --------------------*/

 .getintouch {
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  
}

input[type=text],
select,
textarea {
  width: 100%;
  text-align: left;
  padding: 12px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #399dd0;
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  position: inherit;
}

input[type=submit]:hover {
  background-color: #2784B4;
}

.contact {
  background-color: transparent;
  padding: 20px;
}

/* --------------------------- FOOTER --------------------*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fafafa;
  text-align: center;
}

footer {
  text-align: center;
  border-color: black;
}

.black-footer {
  margin-bottom: 20px;
}

.alignment {
  line-height: 2px;
}

i {
  display: inline-block;
  color: #8F8F8F;
  font-size: 28px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

i:hover {
  color: #399dd0;
}

.spyras {
  font-size: 2em;
  color: #399dd0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}

.emailaddress {
  font-size: 1em;
  color: #8F8F8F;
  text-align: center;
}

.hashtag {
  font-size: 1.3em;
  color: #8f8f8f;
  padding-bottom: 30px;
}
